body {font-family: roboto, sans-serif; color:#2E2F42;}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.link {
    text-decoration: none;
}

header {background-color: #fff;}

.logo {font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;}
.logo-color {color: #4D5AE5}

.header-menu-list {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;}

.header-menu-link:hover,
.header-menu-link:focus {color: #4D5AE5;}
.header-menu-link:active {color: #4D5AE5;}

.address-list 
.address-link {
    font-family: Roboto;
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;}
.address-link:hover,
.address-link:active {color:#4D5AE5;}
.address-link:focus {color: #4D5AE5;}

.hero {background-color: #2E2F42;}   
.hero-title {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    /* 107.143% */
    letter-spacing: 1.12px;}

.hero-button-order {
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);;
    color: #FFF;
    /* Button Text */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.64px;}

.section-skills {background: #FFF;}

.skills-item1 {font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    /* 120% */
    letter-spacing: 0.4px;}

.skills-item2 {font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    /* 120% */
    letter-spacing: 0.4px;}

.skills-item3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    /* 120% */
    letter-spacing: 0.4px;
}

.skills-item4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    /* 120% */
    letter-spacing: 0.4px;
}

.skills-text1 {color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;}

.skills-text2 {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
}

.skills-text3 {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
}

.skills-text4 {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
}

.section-team {background: #F4F4FD;}

.team-title {color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;}

.team-list

.team-list-mark
.title-mark {
    text-align: center;
    /* Header 3 */
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    /* 120% */
    letter-spacing: 0.4px;}
.content-mark {color: #434455;
    text-align: center;
    /* Body */
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;}

.team-list-tom 
.title-tom {text-align: center;
    /* Header 3 */
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    /* 120% */
    letter-spacing: 0.4px;}
.content-tom {color: #434455;
    text-align: center;
    /* Body */
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;}

.team-list-camila 
.title-camila {text-align: center;
    /* Header 3 */
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    /* 120% */
    letter-spacing: 0.4px;}
.content-camila {color: #434455;
    text-align: center;
    /* Body */
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;}

.team-list-daniel 
.title-daniel {text-align: center;
    /* Header 3 */
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    /* 120% */
    letter-spacing: 0.4px;}
.content-daniel {color: #434455;
    text-align: center;
    /* Body */
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;}

.ection-portfolio
.portfolio-title
.portfolio-list

.portfolio-item1 {}
.portfolio-title-banking {font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 120% */
letter-spacing: 0.4px;}
.content-banking {color: #434455;
/* Body */
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;}

.portfolio-item2 {}
.portfolio-title-payment {font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 120% */
letter-spacing: 0.4px;}
.content-payment {color: #434455;
/* Body */
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;}

.portfolio-item3 {}
.portfolio-title-meditation {font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 120% */
letter-spacing: 0.4px;}
.content-meditation {color: #434455;
/* Body */
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;}

.portfolio-item4 {}
.portfolio-title-taxi {font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 120% */
letter-spacing: 0.4px;}
.content-taxi {color: #434455;
/* Body */
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;}

.portfolio-item5 {}
.portfolio-title-screen {font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 120% */
letter-spacing: 0.4px;}
.content-screen {color: #434455;
/* Body */
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;}

.portfolio-item6 {}
.portfolio-title-courses {font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 120% */
letter-spacing: 0.4px;}
.content-courses {color: #434455;
/* Body */
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;}

footer {background: #2E2F42}

.footer-logo {font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.footer-logo-color1 {color: #4D5AE5}

.footer-logo-color2 {color: #F4F4FD}

.footer-text {color: #F4F4FD;
    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;}